@import "tailwindcss";

:root {
  --dark-green: #3a663a;
  --medium-green: #659457;
  --light-green: #9dcc81;
  --dark-brown: #7a5334;
  --light-brown: #b9865e;
    --font-montserrat: 'Montserrat', sans-serif;


}

@theme {
  --color-dark-green: var(--dark-green);
  --color-medium-green: var(--medium-green);
  --color-light-green: var(--light-green);
  --color-dark-brown: var(--dark-brown);
  --color-light-brown: var(--light-brown);



  --font-sans: var(--font-montserrat);
}


body {
  background: #fff;
  color: var(--foreground);
}